*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

#main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 3.3rem;
}

#main-nav:hover {
  background-color: rgba(255, 255, 255, 1);
}

#main-nav .nav-link {
  padding: 0.5rem 12rem;
}

#main-nav .nav-link:hover {
  background-color: lightgray;
  border-radius: 5px;
}

#main-nav a {
  color: rgba(0, 0, 0, 0.6);
}

#main-nav .rsvp:hover {
  color: #fff;
  background-color: black;
}

/* HERO SECTION | MAIN SECTION STYLING */

#main-wedding {
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("https://www.w3schools.com/w3images/wedding_couple.jpg")
    no-repeat;
  background-position: 0 50%;
  background-size: cover;
  letter-spacing: 0.5rem;
}

.main-wedding-text h1 {
  font-size: 4.5rem;
  padding: 1rem;
  font-weight: 300;
}

.main-wedding-text h3 {
  font-size: 2.2rem;
  font-weight: 300;
  word-spacing: 0.5rem;
}

.main-wedding-text .wedding-date {
  padding-top: 1rem;
  font-size: 2rem;
}

/* WEDDING DETAILS */

#wedding-details {
  background-color: #f2e1e1;
  padding: 4.5rem 0;
  /* height: 105vh; */
}

.wedding-details-context h2 {
  color: #858383;
  font-size: 2.3rem;
  font-weight: 400;
}

.wedding-details-context img {
  padding: 2.3rem;
  width: 100%;
  opacity: 0.9;
}

.wedding-details-context p {
  text-align: start;
  width: 100%;
  padding: 0 2rem;
  line-height: 1.8rem;
}

.wedding-details-context a {
  margin: 2.5rem 0;
}

/* INVITED TO WEDDING */

#invited {
  height: 100vh;
  background: url("https://www.w3schools.com/w3images/flowers.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.invited-context {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.invited-context h1 {
  font-size: 4rem;
  font-weight: 300;
  padding: 3rem;
}

.invited-context h3 {
  font-weight: 300;
  margin-bottom: 2rem;
}

/* THE WEDDING */
